.album-card-container {
  padding: 4vh 10vh;
  border-top: 2.5px solid #191717;
  border-bottom: 2.5px solid #191717;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.song-title {
  margin: 2.5px;
}
.song-list {
  list-style: decimal;
  margin-left: 5px;
}
.song-ul {
  margin: 0;
}
.album-card-img {
  height: 400px;
  width: 400px;
  margin: 0 2vh;
  border: 2px solid #191717;
}
.alc-info {
  text-align: end;
  padding-right: 40px;
}
.album-artist-link {
  text-decoration: none;
}
.ac-name:hover {
  color: rgb(178, 43, 47);
}
.ac-name,
.ac-released,
.ac-genre {
  margin: 2vh 0;
}
