.random-container {
  display: flex;
  align-items: center;
  padding: 5vh 40vh;
  border-top: 2.5px solid #191717;
  border-bottom: 2.5px solid #191717;
}

.text {
  flex: 1; 
  margin-left: 20vh;
}
.image {
  margin-right: 20vh;
}

.ra-img {
  height: 40vh;
  width: 40vh;
  border: 2px solid #191717;
}
.stars{
    color: rgb(178, 43, 47);
}
