.artist-item {
  display: flex;
  align-items: center;
  padding: 5vh 50vh;
  justify-content: space-between;
  border-bottom: 2.5px solid #191717;
}

.text-left {
  flex-direction: row-reverse;
  /* margin-left: 20vh; */
}

.text-right {
  flex-direction: row;
  /* margin-right: 20vh; */
  text-align: end;
}

.artist-img {
  width: 200px; /* Adjust size as needed */
  height: auto;
  /* margin: 0 20vh; */
  border: 3px solid #191717;
}

.artist-details {
  flex: 1;
}
