.artist-item {
  display: flex;
  align-items: center;
  padding: 5vh 50vh;
  justify-content: space-between;
  border-bottom: 2.5px solid #191717;
}

.text-left {
  flex-direction: row-reverse;
}

.text-right {
  flex-direction: row;
  text-align: end;
}

.artist-img {
  width: 200px; 
  height: auto;
  border: 3px solid #191717;
}

.artist-details {
  flex: 1;
}
